<p>hii</p>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >   
    <!-- novalidate> -->
 
   <p>
     <label for="firstname">First Name </label>
     <input type="text" id="firstname" name="firstname" formControlName="firstname" >
   </p>
 
   <div *ngIf="!firstname?.valid && (firstname?.dirty ||firstname?.touched)">
     <div [hidden]="!firstname.errors?.['required']">
       First Name is required
     </div>
     <div [hidden]="!firstname.errors?.['minlength']">
       Min Length is 5
     </div>
   </div>
 
   <p>
     <label for="lastname">Last Name </label>
     <input type="text" id="lastname" name="lastname" formControlName="lastname">
   </p>
 
   <div *ngIf="!lastname.valid && (lastname.dirty ||lastname.touched)" style="color: red;font-weight: bold;">
     <div [hidden]="!lastname.errors?.['pattern']">
       Only characters are allowed
     </div>
     <div [hidden]="!lastname.errors?.['minLength']">
       Min length allowed is {{lastname.errors?.['minLength'].requiredLength}}
     </div>
     <div [hidden]="!lastname.errors?.['required']">
       Last Name is required
     </div>
   </div>
 
   <p>
     <label for="email">Email </label>
     <input type="text" id="email" name="email" formControlName="email">
   </p>
 
   <div *ngIf="!email.valid && (email.dirty ||email.touched)">
     <div [hidden]="!email.errors?.['required']">
       email is required
     </div>
     <div [hidden]="!email.errors?.['email']">
       invalid email id
     </div>
   </div>
 
   <p>
     <label for="gender">Gender </label>
     <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
     <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
   </p>
 
   <p>
     <label for="isMarried">Married </label>
     <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
   </p>
 
 
   <p>
     <label for="country">country </label>
     <select id="country" name="country" formControlName="country">
       <option value="1">India</option>
       <option value="2">USA</option>
       <option value="3">England</option>
       <option value="4">Singapore</option>
     </select>
   </p>
 
 
   <p>
      <!-- <button type="submit">Submit</button>  -->
     <button type="submit" [disabled]="!contactForm.valid">Submit</button>
 
   </p>
 
   <pre>Value : {{contactForm.value | json }} </pre>
   <pre>Valid : {{contactForm.valid}} </pre>
   <pre>Touched : {{contactForm.touched  }} </pre>
   <pre>Errors : {{contactForm.errors  }} </pre>
 
 </form>